<div class="border pado" *ngIf="rental$ | async as rental">
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Rental Detail</h4>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">Customer : {{ rental.customer?.name }}</li>
        <li class="list-group-item">Movie : {{ rental.movie?.title }}</li>
        <li class="list-group-item">Fee : {{ rental.rentalFee }}</li>
  </ul>
    </div>
    <div class="card-footer">
      <a class="btn btn-outline-secondary form-control" routerLink="/"
        >Back</a
      >
    </div>
  </div>
</div>
