<div class="border pado">
  <div class="card">
    <form [formGroup]="editProfileForm" (ngSubmit)="editProfileSubmit()">
      <div class="card-header">
        <h4 class="text-center">Edit Profile Form</h4>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="phone">Phone</label>
          <input
            id="phone"
            type="tel"
            formControlName="phone"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="confirmPassword"
            >Confirm Password</label
          >
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="gender">Gender </label>
          <select id="gender" formControlName="gender" class="form-select">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </div>
        <div class="mb-3" hidden>
          <label class="form-label" for="userType"> UserType </label>
          <select id="userType" formControlName="userType" class="form-select">
            <option value="Admin">Admin</option>
            <option value="Customer">Customer</option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-outline-primary form-control m-1">
          Submit
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary form-control m-1"
          (click)="backToList()"
        >
          Back
        </button>
      </div>
    </form>
  </div>
</div>
