<ul class="nav nav-pills mb-3 mt-3">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/genres" routerLinkActive="active"
      >Genres</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/customers"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Customers</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      routerLink="/movies"
      [routerLinkActiveOptions]="{ exact: true }"
      >Movies</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn"
      >Login</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/logout" *ngIf="isLoggedIn"
      >Logout</a
    >
  </li>
  <li class="dropdown" *ngIf="isLoggedIn">
    <a
      class="btn btn-link dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Settings
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li>
        <a
          class="dropdown-item"
          routerLink="/change-password"
          >Change Password</a
        >
      </li>
      <li>
        <a class="dropdown-item" routerLink="/edit-profile" routerLinkActive="active"
        >Edit Profile</a>
      </li>
    </ul>
  </li>
</ul>
